.weather {
    z-index: 1100;
    position: absolute;
    left: 82%;
    height: 200px;
    width: 300px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:rgba(0, 0, 0, 0.7);
}

.weather-handle {
    z-index: 1100;
    position: absolute;
    cursor: pointer;
    left: 80%;
    height: 200px;
    width: 34px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgba(255, 165, 0, 1);
}

.weather-handle:hover {
    background: rgba(255, 165, 0, 0.8);
}

.l-button {
    z-index: 1101;
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
    border: none;
    background:rgba(0, 0, 0, 0);
    outline:none;
}

.r-button {
    z-index: 1101;
    position: relative;
    float: right;
    width: 15%;
    height: 100%;
    border: none;
    background:rgba(0, 0, 0, 0);
    outline:none;
}

.l-button:hover {
    background:rgba(0, 0, 0, 0.1);
}

.r-button:hover {
    background:rgba(0, 0, 0, 0.1);
}

.weather-content {
    float: left;
    width: 70%;
    height: 100%;
    position: relative;
    z-index: 1101;
    text-align: center;
}

.weather-data {
    color: #29bcff;
    margin: 4%;
    text-align: left;
    padding-left: 25%;
}