<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="wb:webmaster" content="79ec17f558ccce9c" />
    <!-- 页面标题 -->
    <title>
        {% block title %}
            mocal-默客|默默做客
        {% endblock %}
    </title>

    {% block styles %}  <!-- 样式区 -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon/mocal.ico') }}"/>  <!--logo-->
        <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/common.css">
    {% endblock %}

    {% block scripts %}  <!-- 脚本区 -->
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/socket.io.js"></script>
        <script src="static/semantic/dist/semantic.min.js"></script>
        <script src="static/js/common.js"></script>
        <script src="http://api.geetest.com/get.php"></script>
        <script>
            $(document).ready(function(){
                $('#home').click(function(){
                    location.href='/';
                });
                $('.topics').click(function(){
                    location.href='{{ url_for('topic.topics') }}';
                });
                $('#users').click(function(){
                    location.href='/';
                });

                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });

                $('#main_logo').mouseover(function(){
                    $(this).transition('set looping').transition('jiggle', '2000ms');
                });
                $('.menu').mouseover(function(){
                    $('#main_logo').transition('remove looping');
                });

                $('.user_detail').click(function(){
                    location.href = "{{ url_for('user.user_info') }}";
                });

                $('#user_photo').mouseover(function(){$(this).transition('jiggle');});

                // 定义semantic 表单验证的方法  自定义哦
                $.fn.form.settings.rules.checkNickname = function(nickname){
                    var flag = false;
                    $.ajax({
                        async : false,
                        url: "{{ url_for('auth.check_nickname', nickname='') }}" + nickname,
                        type: "GET",
                        dataType   : "json",
                        success: function(ret){
                            flag = ret["detail"];
                        }
                    });
                    return !flag;
                };

                $.fn.form.settings.rules.checkEmail = function(email){
                    var flag = false;
                    $.ajax({
                        async : false,
                        url: "{{ url_for('auth.check_email', email='') }}" + email,
                        type: "GET",
                        dataType   : "json",
                        success: function(ret){
                            flag = ret["detail"];
                        }
                    });
                    return !flag;
                };

                $.fn.form.settings.rules.checkTopic = function(topic_name){
                    var flag = false;
                    $.ajax({
                        async : false,
                        url: "{{ url_for('topic.check_topic_name') }}?topic_name=" + topic_name,
                        type: "GET",
                        dataType   : "json",
                        success: function(ret){
                            flag = ret["detail"];
                        }
                    });
                    return !flag;
                };

            });
        </script>
    {% endblock %}
</head>

<body style="background-image: url('{{ get_today_bg() }}');text-align: center">
    {% block navigation %}  <!-- 导航区 -->
        <div class="ui top fixed menu">
            <div class="left menu">
                <div class="item">
                    <img src="{{ url_for('static', filename='logo/mocal256.png') }}" style="cursor: pointer" onclick="location.href='/'"/>
                </div>

                <div class="item">
                    <div class="ui buttons">
                        <div class="ui animated button" tabindex="0" id="home">
                            <div class="visible content">首页</div>
                            <div class="hidden content">
                                <i class="home icon"></i>
                            </div>
                        </div>
                        <div class="ui animated button topics" tabindex="0">
                            <div class="visible content">话题</div>
                            <div class="hidden content">
                                <i class="comments icon"></i>
                            </div>
                        </div>
                        <div class="ui animated button" tabindex="0" id="users">
                            <div class="visible content">默客</div>
                            <div class="hidden content">
                                <i class="users icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right menu">
                {% if not current_user.is_authenticated %}
                    <div class="item">
                        <div class="ui buttons">
                            <div class="ui animated button" tabindex="0" onclick="location.href='{{ url_for('auth.login') }}'">
                                <div class="visible content">登录</div>
                                <div class="hidden content">
                                    <i class="sign in icon"></i>
                                </div>
                            </div>
                        <div class="or"></div>
                            <div class="ui animated teal button" tabindex="0" onclick="location.href='{{ url_for('auth.register') }}'">
                                <div class="visible content">注册</div>
                                <div class="hidden content">
                                    <i class="signup icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="item">
                        <a class="ui label">
                            <img class="ui right spaced avatar image user_detail" src="{{ current_user.photo(256) }}" id="user_photo">
                            <b class="user_detail">{{ current_user.nickname }}</b>
                            <i class="delete icon" style="cursor: pointer"
                           onclick="location.href='{{ url_for('auth.logout') }}'"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    <div class="ui center aligned basic segment" style="position: absolute;top: 5%;width: 60%;left: 20%;z-index: 10000">
        {% if get_flashed_messages()%}
            <div class="ui floating teal compact message">
                <i class="close icon"></i>
                <div class="header"></div>
                <ul class="list">
                {% for message in get_flashed_messages() %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    {% block content %}  <!-- 内容区 -->
        <div class="ui center aligned basic segment" style="position: absolute;top: 25%">
            <h2 class="ui center aligned header">
                <img class="ui tiny circular image" style="cursor: pointer;margin-bottom: 1%"
                     src="{{ url_for('static', filename='logo/mocal128.png') }}" onclick="location.href='/'"
                        id="main_logo">
                <div class="sub header" style="margin-bottom: 2%"><h4>mocal|默默做客</h4></div>
            </h2>

            <div class="ui fluid category search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="话题 #">
                    <i class="teal inverted circular search link icon" onclick="location.href='/'"></i>
                </div>
                <div class="results"></div>
            </div>

            <div class="ui horizontal divider">Or</div>
            <div class="ui teal labeled icon button topics">
                发起话题 <i class="add icon"></i>
            </div>
        </div>
    {% endblock %}

    {% block footer %}  <!-- 页脚区 -->
        <div class="ui bottom fixed menu">
            <div class="ui fluid center aligned basic segment" style="width: 60%;left: 20%">
                <p><i class="mail icon"></i><b>邮箱：haner27@126.com</b></p>
                <p><i class="copyright icon"></i><b>2016 mocal 京ICP备16006301号-1</b></p>
            </div>
        </div>
    {% endblock %}
</body>
</html>