<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 页面标题 -->
    <title>
        {% block title %}
            mocal-默客|默默做客
        {% endblock %}
    </title>

    {% block styles %}  <!-- 样式区 -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon/mocal.ico') }}"/>  <!--logo-->
        <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
    {% endblock %}

    {% block scripts %}  <!-- 脚本区 -->
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        <script src="static/semantic/dist/semantic.min.js"></script>
        <script src="http://api.geetest.com/get.php"></script>
        <script>
            $(document).ready(function(){
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            });
        </script>
    {% endblock %}
</head>

<body style="background-image: url(http://www.h-ui.net/bg/images/gray/019.gif);text-align: center">
    {% block navigation %}  <!-- 导航区 -->
        <div class="ui top fixed menu">
            <div class="left menu">
                <div class="item">
                    <img src="{{ url_for('static', filename='logo/mocal256.png') }}" style="cursor: pointer" onclick="location.href='/'"/>
                </div>

                <div class="item">
                    <div class="ui buttons">
                        <div class="ui animated button" tabindex="0">
                            <div class="visible content">首页</div>
                            <div class="hidden content">
                                <i class="home icon"></i>
                            </div>
                        </div>
                        <div class="ui animated button" tabindex="0">
                            <div class="visible content">话题</div>
                            <div class="hidden content">
                                <i class="comment icon"></i>
                            </div>
                        </div>
                        <div class="ui animated button" tabindex="0">
                            <div class="visible content">默客</div>
                            <div class="hidden content">
                                <i class="users icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right menu">
                {% if not current_user.is_authenticated %}
                    <div class="item">
                        <div class="ui buttons">
                            <div class="ui animated button" tabindex="0" onclick="location.href='{{ url_for('auth.login') }}'">
                                <div class="visible content">登录</div>
                                <div class="hidden content">
                                    <i class="sign in icon"></i>
                                </div>
                            </div>
                        <div class="or"></div>
                            <div class="ui animated teal button" tabindex="0" onclick="location.href='{{ url_for('auth.register') }}'">
                                <div class="visible content">注册</div>
                                <div class="hidden content">
                                    <i class="signup icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="item">
                        <div class="ui image label">
                            <img src="{{ url_for('static', filename='logo/mocal32.png') }}">
                            {{ current_user.nickname }}
                            <i class="delete icon" onclick="location.href='{{ url_for('auth.logout') }}'"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    <div class="ui center aligned basic segment" style="position: absolute;top: 5%;width: 60%;left: 20%;z-index: 10000">
        {% if get_flashed_messages()%}
            <div class="ui floating teal compact message">
                <i class="close icon"></i>
                <div class="header"></div>
                <ul class="list">
                {% for message in get_flashed_messages() %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    {% block content %}  <!-- 内容区 -->
        <div class="ui center aligned basic segment" style="position: absolute;top: 25%">
            <h2 class="ui center aligned header">
                <img class="ui tiny circular image" style="margin-bottom: 1%" src="{{ url_for('static', filename='logo/mocal128.png') }}">
                <div class="sub header" style="margin-bottom: 2%"><h4>mocal|默默做客</h4></div>
            </h2>

            <div class="ui icon input">
                <input type="text" placeholder="话题 #">
                <i class="teal inverted circular search link icon" onclick="location.href='http://mocal.cn'"></i>
            </div>

            <div class="ui horizontal divider">Or</div>

            <div class="ui teal labeled icon button">
                发起话题 <i class="add icon"></i>
            </div>
        </div>
    {% endblock %}

    {% block footer %}  <!-- 页脚区 -->
        <div class="ui bottom fixed menu">
            <div class="item">

            </div>
        </div>
    {% endblock %}
</body>
</html>