{% extends "base.html" %}

{% block title %} Mocal登陆入口 {% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    function check_enable(id){
        var cls = $('#'+id).next().attr('class');
        if(cls == 'glyphicon glyphicon-ok'){
            return true;
        }else{
            return false;
        }
    }

    function check_login(){
        var login_account = $('#login_account').val();
        if(!login_account){
            show_msg('用户名不能为空', 1500);
            return false;
        }

        var login_password = $('#login_password').val();
        if(!login_password){
            show_msg('密码不能为空', 1500);
            return false;
        }

        return true;
    }

    function register(){
        // 账号
        var register_account = $('#register_account').val();
        if(!register_account){
            show_msg('用户名不能为空', 1500);
            $('#register_account').focus();
            return false;
        }
        if(register_account.length < 6 || register_account.length > 20){
            $('#register_account').next().attr('class', 'glyphicon glyphicon-exclamation-sign');
            show_msg('用户名应为6-20位', 1500);
            $('#register_account').focus();
            return false;
        }
        if(!check_enable('register_account')){
            show_msg('用户名已经存在', 1500);
            $('#register_account').focus();
            return false;
        }

        // 密码
        var register_password = $('#register_password').val();
        if(!register_password){
            show_msg('密码不能为空', 1500);
            $('#register_password').focus();
            return false;
        }
        if(register_password.length < 6 || register_password.length > 20){
            $('#register_password').next().attr('class', 'glyphicon glyphicon-exclamation-sign');
            show_msg('密码应为6-20位', 1500);
            $('#register_password').focus();
            return false;
        }

        // 确认密码
        var password_confirm = $('#password_confirm').val();
        if(!password_confirm){
            show_msg('密码不能为空', 1500);
            $('#password_confirm').focus();
            return false;
        }
        if(password_confirm != register_password){
            $('#password_confirm').next().attr('class', 'glyphicon glyphicon-remove');
            show_msg('密码不一致', 1500);
            $('#password_confirm').focus();
            return false;
        }

        // 昵称
        var nickname = $('#nickname').val();
        if(!nickname){
            show_msg('昵称不能为空', 1500);
            $('#nickname').focus();
            return false;
        }
        if(!check_enable('nickname')){
            show_msg('昵称已经存在', 1500);
            $('#nickname').focus();
            return false;
        }

        var email = $('#email').val();
        if(!email){
            show_msg('邮箱不能为空', 1500);
            $('#email').focus();
            return false;
        }
        if(!check_email_format(email)){
            show_msg('邮箱格式不对', 1500);
            $('#email').focus();
            return false;
        }
        if(!check_enable('email')){
            show_msg('邮箱已经存在', 1500);
             $('#email').focus();
            return false;
        }

        var req = {
            'register_account': register_account,
            'register_password': register_password,
            'password_confirm': password_confirm,
            'nickname': nickname,
            'email': email
        };

        var url = '{{ url_for('user.register') }}';
        show_loading();
        $.ajax({
            type: "POST",
            async: true,
            url: url,
            data: req,
            dataType: "json",
            error: function (ret) {
                hide_loading();
                show_msg("register返回数据错误", 1500);
            },
            success: function (ret) {
                if (ret["result"] == false) {
                    hide_loading();
                    show_msg(ret['msg'], 1500);
                } else {
                    hide_loading();
                    show_msg('注册成功',1500);
                    $('#login_account').val('');
                    $('#login_password').val('');
                    $('#register_account').val('');
                    $('#register_password').val('');
                    $('#password_confirm').val('');
                    $('#nickname').val('');
                    $('#email').val('');
                    $('.glyphicon').removeAttr('class');

                    $('#register_modal').hide();
                    $('.modal-backdrop').hide();
                }
            }
        });
    }

    function check_account(obj){
        var v = $(obj).val();
        if(v.length < 6){
            $(obj).next().removeAttr('class');
            return;
        }
        var url = "{{ url_for('user.check_account', account='') }}" + v;
        show_loading();
        $.ajax({
            type: "GET",
            async: false,
            url: url,
            dataType   : "json",
            error: function (ret) {
                hide_loading();
                show_msg("返回数据错误！", 1500);
            },
            success: function (ret) {
                if (ret["detail"] == false) {
                    hide_loading();
                    $(obj).next().attr('class', 'glyphicon glyphicon-ok');
                } else {
                    hide_loading();
                    $(obj).next().attr('class', 'glyphicon glyphicon-remove');
                }
            }
        });
    }

    function check_nickname(obj){
        var v = $(obj).val();
        if(v.length < 1){
            $(obj).next().removeAttr('class');
            return;
        }
        var url = "{{ url_for('user.check_nickname', nickname='') }}" + v;
        show_loading();
        $.ajax({
            type: "GET",
            async: false,
            url: url,
            dataType   : "json",
            error: function (ret) {
                hide_loading();
                show_msg("返回数据错误！", 1500);
            },
            success: function (ret) {
                if (ret["detail"] == false) {
                    hide_loading();
                    $(obj).next().attr('class', 'glyphicon glyphicon-ok');
                } else {
                    hide_loading();
                    $(obj).next().attr('class', 'glyphicon glyphicon-remove');
                }
            }
        });
    }

    function check_email_format(email){
        var search_str = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
        if(!search_str.test(email)){
            return false;
        }
        return true;
    }

    function check_email(obj){
        var v = $(obj).val();
        if(!check_email_format(v)){
            $(obj).next().removeAttr('class');
            return;
        }
        var url = "{{ url_for('user.check_email', email='') }}" + v;
        show_loading();
        $.ajax({
            type: "GET",
            async: false,
            url: url,
            dataType   : "json",
            error: function (ret) {
                hide_loading();
                show_msg("返回数据错误！", 1500);
            },
            success: function (ret) {
                if (ret["detail"] == false) {
                    hide_loading();
                    $(obj).next().attr('class', 'glyphicon glyphicon-ok');
                } else {
                    hide_loading();
                    $(obj).next().attr('class', 'glyphicon glyphicon-remove');
                }
            }
        });
    }

    function check_password(obj){
        $(obj).next().removeAttr('class');
    }

    $(document).ready(function(){
        var msg = '{{ msg }}';
        if(msg){
            show_msg(msg, 1500);
        }
    });
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <div class="container">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" id="logindiv">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="text-center">Mocal</h2>
                    </div>
                    <div class="panel-body">
                        <form class="form" method="post" action="{{ request.url }}" onsubmit="return check_login()">
                            <label for="login_account" class="sr-only">Account</label>
                            <input type="text" id="login_account" name="login_account" class="form-control" placeholder="用户名" autofocus="">
                            <label for="login_password" class="sr-only">Password</label>
                            <input type="password" id="login_password" name="login_password" class="form-control" placeholder="密码">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember_me" name="remember_me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" style="background-color: #000000;color: white" type="submit">登陆</button>
                        </form>
                        <hr/>
                        <button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#register_modal">
                        注册
                        </button>
                    </div>
                    <div class="panel-footer">
                        Panel footer 到时候添加第三方登录
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </div>

    <!-- 注册Modal -->
    <div class="modal fade bs-example-modal-sm" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="register_modal_label">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <!-- Modal标题栏 -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="register_modal_label">Mocal注册</h4>
                </div>
                <!-- Modal正文 -->
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group form-inline">
                            <label for="register_account">账号</label>
                            <input type="text" class="form-control input-sm" style="width: 90%" id="register_account" placeholder="用户名" onkeyup="check_account(this)"><span></span>
                        </div>
                        <div class="form-group form-inline">
                            <label for="register_password">密码</label>
                            <input type="password" class="form-control input-sm" style="width: 90%" id="register_password" placeholder="密码" onkeyup="check_password(this)"><span></span>
                        </div>
                        <div class="form-group form-inline">
                            <label for="password_confirm">确认密码</label>
                            <input type="password" class="form-control input-sm" style="width: 90%" id="password_confirm" placeholder="确认密码" onkeyup="check_password(this)"><span></span>
                        </div>
                        <div class="form-group form-inline">
                            <label for="nickname">昵称</label>
                            <input type="text" class="form-control input-sm" style="width: 90%" id="nickname" placeholder="昵称" onkeyup="check_nickname(this)"><span></span>
                        </div>
                        <div class="form-group form-inline">
                            <label for="email">邮箱</label>
                            <input type="email" class="form-control input-sm" style="width: 90%" id="email" placeholder="邮箱" onkeyup="check_email(this)"><span></span>
                        </div>
                    </fieldset>
                </div>
                <!-- Modal页脚 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" style="background-color: #000000" onclick="register()">提交</button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}