<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../static/css/loading.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery-1.7.2.min.js"></script>
    <script>
        function show(){
            $('#bg').css('display', 'block');
            $('#loading').css('display', 'block');
        }

        function hide(){
            $('#bg').css('display', 'none');
            $('#loading').css('display', 'none');
        }
    </script>
</head>
<body>
<div id="bg" style="display: none"></div>
<div class="spinner" id="loading" style="display: none">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
</div>



<input type="button" onclick="show()" value="show">
<input type="button" onclick="hide()" value="hide">
</body>
</html>