<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../static/js/jquery-1.7.2.min.js"></script>
    <script>
        function select_city(obj){
            var v = $(obj).val();
            var url = "{{ url_for('select') }}";
            var data = {
                'pid': v
            };
            $.ajax({
                type: "POST",
                async: false,
                url: url,
                data: data,
                dataType   : "json",
                error: function (ret) {
                    alert("返回数据错误！");
                },
                success: function (ret) {
                    $('#city').empty();
                    var cities = ret['cities'];
                    $('#city').append('<option value="">请选择</option>');
                    for(var k in cities){
                        $('#city').append('<option value="'+k+'">'+cities[k]+'</option>');
                    }
                }
            });
        }
    </script>
</head>
<body>
    <select id="province" onchange="select_city(this)">
        <option value="">请选择</option>
        {% for k, v in p.items()%}
        <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
    </select>
    <select id="city">
        <option value="">请选择</option>
    </select>
</body>
</html>