{% extends "index.html" %}

{% block title %} Mocal话题|{{ topic.name }} {% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .text-default-color {
            color: #00B5AD;
        }
        .sed-bar {
            margin: 0;
        }
        .qz {
            position: relative;
            margin-top: 5%;
        }
        .msg_item {
            cursor: pointer;
            width: 60%;
        }
        .text_msg {
            text-align: left;
            word-wrap: break-word;
            word-break:break-all;
        }
        .a-text {
            color: black;
        }
        .my_msg {
            margin-left: 40%;
        }
        .my_msg .a-text{
            color: white;
        }

    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $('#msg_content').keydown(function(){
                if(event.keyCode==13){
                    $('#msg_send').click()
                }
            });
            var current_uid = {{ current_user.id|tojson }};
            var group_id = {{ topic.id|tojson }};
            if(location.port){
                alert(1);
                alert('http://' + document.domain + ':' + location.port + '/chat');
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            }else{
                alert(2);
                alert('http://' + document.domain + '/chat');
                socket = io.connect('http://' + document.domain + '/chat');
            }
            socket.on('connect', function() {
                socket.emit('join', {'uid': current_uid, 'group_id': group_id});
            });
            $('#msg_send').click(function(){
                var msg = $('#msg_content').val();
                $('#msg_content').val('');
                socket.emit('text', {msg: msg, 'uid': current_uid, 'group_id': group_id});
            });
            socket.on('status', function(data) {
                if(current_uid!=data['uid']){
                    $('#msg_list').append('<div class="ui horizontal divider" style="color:#999999;">' + data['msg'] + ' ' + data['datetime'] + '</div>');
                }
            });
            socket.on('message', function(data) {
                var uid = data['uid'];
                if(current_uid == uid){
                    $('#msg_list').append('<div class="item msg_item my_msg">' +
                        '<div class="ui teal inverted middle aligned segment">' +
                        '<div class="ui grid"><div class="two column row">' +
                        '<div class="left floated column" style="text-align: left">' +
                        '<p class="header"><a class="a-text">' +
                        '<img class="ui avatar image" src="'+data['photo']+'">'+data['nickname']+
                        '</a></p></div><div class="right floated column" style="text-align: right">'+
                        data['datetime']+'</div></div><div class="row"><div class="sixteen wide column text_msg">'+
                        '<p>'+data['msg']+'</p></div></div></div></div></div>');
                }else{
                    $('#msg_list').append('<div class="item msg_item">' +
                        '<div class="ui teal middle aligned segment">' +
                        '<div class="ui grid"><div class="two column row">' +
                        '<div class="left floated column" style="text-align: left">' +
                        '<p class="header"><a class="a-text">' +
                        '<img class="ui avatar image" src="'+data['photo']+'">'+data['nickname']+
                        '</a></p></div><div class="right floated column" style="text-align: right">'+
                        data['datetime']+'</div></div><div class="row"><div class="sixteen wide column text_msg">'+
                        '<p>'+data['msg']+'</p></div></div></div></div></div>');
                }
                $('#scroll-1').scrollTop($('#scroll-1')[0].scrollHeight);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="qz">
    </div>
    <div class="ui main container">
        <div class="ui segments" style="width: 70%;left: 15%">
            <div class="ui segment">
                <h1><b>{{ topic.name }}</b></h1>
                <h5 class="header sed-bar">
                    <a class="text-default-color">
                    <img class="ui avatar image" src="{{ photo }}">
                    {{ creator_name }}
                    </a>
                </h5>
                <h6 class="header sed-bar">
                    {{ topic.created_ed_str }}
                </h6>
            </div>
            <div class="ui secondary segment" style="height:500px;overflow-y: auto;" id="scroll-1">
                <div class="ui list" id="msg_list">

                    <div class="item msg_item my_msg">
                        <div class="ui teal inverted middle aligned segment">
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class="left floated column" style="text-align: left">
                                        <p class="header">
                                            <a class="a-text">
                                            <img class="ui avatar image" src="{{ current_user.photo(256) }}">
                                            {{ current_user.nickname }}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="right floated column" style="text-align: right">
                                        2016-03-23 19:01:50
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sixteen wide column text_msg">
                                        <p>ssssssss你好吗?ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item msg_item">
                        <div class="ui teal middle aligned segment">
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class="left floated column" style="text-align: left">
                                        <p class="header">
                                            <a class="a-text">
                                            <img class="ui avatar image" src="{{ current_user.photo(256) }}">
                                            {{ current_user.nickname }}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="right floated column" style="text-align: right">
                                        2016-03-23 19:01:50
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sixteen wide column text_msg">
                                        <p>ssssssss你好吗?ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ui bottom attached segment">
                <div class="ui fluid action input">
                    <input type="text" placeholder="我也说说..." id="msg_content">
                    <div class="ui teal vertical animated button" tabindex="0" id="msg_send">
                        <div class="hidden content">发送</div>
                        <div class="visible content">
                            <i class="send icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}