{% extends "index.html" %}

{% block title %} Mocal话题 {% endblock %}

{% block styles %}
    {{ super() }}
    <style xmlns="http://www.w3.org/1999/html">
    .qz {
        position: relative;
        margin-top: 6%;
    }

    .add-t {
        width: 60%;left: 20%;
    }

    .ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
        background-color: #009c95!important;
    }

    .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
        background-color: #00B5AD!important;
    }

    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $('#desc').keyup(function(){
                var desc = $(this).val();
                var desc_count = desc.length;
                if(desc_count>140){
                    $('#desc_count').css('color', '#AE3A58');
                    $('#desc_count').html(desc_count+'/140');
                }else{
                    $('#desc_count').css('color', 'black');
                    $('#desc_count').html(desc_count+'/140');
                }
            });

            $('#submit').click(function(){
                $('#topic_add').submit()
            });

            $('.ui.dropdown').dropdown('set selected', '0');

            $('.in-topic').click(function(){
                var topic_id = $(this).parents('tr').attr('id');
                var data = {
                    'topic_id': topic_id
                };
                var url = "{{ url_for('topic.is_marked') }}";
                $.ajax({
                    url : url,
                    type : "POST",
                    data: JSON.stringify(data),
                    dataType : 'JSON',
                    success : function(result) {
                        var success = result['success'];
                        if(success){
                            var is_marked = result['is_marked'];
                            if(is_marked) {
                                location.href="/topic?topic_id="+topic_id;
                            }else{
                                alert('先关注！后说话！');
                            }
                        }
                    }
                });
            });

            $('.add-topic').click(function(){
                $('.ui.dropdown').dropdown('set selected', '0');
                $('.ui.modal').modal('show');
            });

            $('.ui.checkbox').checkbox({
                onChecked: function() {
                    $(this).val('1');
                    var topic_id = $(this).parents('tr').attr('id');
                    mark(topic_id)
                },
                onUnchecked: function() {
                    $(this).val('0');
                    var topic_id = $(this).parents('tr').attr('id');
                    mark(topic_id)
                }
            });

            $('#topic_add').form({
                name:{
                    identifier: 'name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '要有话题才能开聊哦！'
                        },
                        {
                            type: 'maxLength[40]',
                            prompt: '话题不能超过40个字！'
                        },
                        {
                            type   : 'regExp[/^[\u4E00-\u9FA5A-Za-z0-9_?？!！,，;；.。@$￥&#]*$/]',
                            prompt : '话题里有有非法字符！'
                        },
                        {
                            type : 'checkTopic',
                            prompt : '话题已存在请自行搜索！'
                        }
                    ]
                },
                desc:{
                    identifier: 'desc',
                    rules: [
                        {
                            type: 'maxLength[140]',
                            prompt: '话题描述超过140个字了,你麻不麻烦啊？'
                        }
                    ]
                }
            },
            {
                on: 'submit',
                inline: true
            });

        });

        function mark(topic_id){
            var data = {
                'topic_id': topic_id,
                'mark': true
            };
            var url = "{{ url_for('topic.mark') }}";
            $.ajax({
                url : url,
                type : "POST",
                data: JSON.stringify(data),
                dataType : 'JSON',
                success : function(result) {
                    var success = result['success'];
                    if(success){
                        var is_marked = result['is_marked'];
                        var members = result['members'];
                        if(is_marked) {
                            $('#members_'+topic_id).text(members);
                        }else{
                            $('#members_'+topic_id).text(members);
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="qz">
    </div>

    <table class="ui teal compact celled definition table">
      <thead class="full-width">
        <tr class="center aligned">
          <th class="one wide">关注</th>
          <th class="five wide">话题</th>
          <th class="one wide">类型</th>
          <th class="one wide">人数</th>
          <th class="two wide">创建人</th>
          <th class="two wide">创建时间</th>
          <th class="two wide">最新吐槽时间</th>
          <th class="two wide">进入</th>
        </tr>
      </thead>

      <tbody>
      {% for topic in topics %}
        <tr id="{{ topic.id }}">
          <td class="center aligned collapsing"> <!--关注-->
          {% if topic.is_marked(current_user.id) %}
            <div class="ui toggle checkbox">
              <input type="checkbox" value="1" checked>
              <label></label>
            </div>
          {% else %}
            <div class="ui toggle checkbox">
              <input type="checkbox" value="0">
              <label></label>
            </div>
          {% endif %}
          </td>
          <td>{{ topic.name }}</td> <!--话题-->
          <td class="center aligned">{{ topic.type_text }}</td> <!--类型-->
          <td class="center aligned" id="members_{{ topic.id }}">{{ topic.members }}</td> <!--人数-->
          <td class="center aligned">
            <img class="ui avatar image" src="{{ get_user_photo(topic.creator_id)(256) }}">
            {{ get_user_name(topic.creator_id) }}
          </td> <!--创建人-->
          <td class="center aligned">{{ topic.created_ed_str }}</td> <!--创建时间-->
          <td class="center aligned"></td> <!--最新吐槽时间-->
          <th class="center aligned"> <!--进入-->
            <div class="ui teal animated button in-topic" tabindex="0">
              <div class="visible content">切入话题</div>
              <div class="hidden content">
                <i class="arrow right icon"></i>
              </div>
            </div>
          </th>
        </tr>
      {% endfor %}
      </tbody>

      <tfoot class="full-width">
        <tr>
          <th></th>
          <th colspan="7" class="center aligned">
            <div class="ui blue animated right floated {% if not current_user.could_create() %}disabled {% endif %}button add-topic" tabindex="0">
              <div class="visible content">添加话题</div>
              <div class="hidden content">
                <i class="add icon"></i>
              </div>
            </div>
          </th>
        </tr>
      </tfoot>

    </table>


    <!--添加话题弹出框-->
    <div class="ui small modal">
      <div class="header">添加话题</div>
      <div class="content">
        <form class="ui form basic segment add-t" action="{{ url_for('topic.add') }}"
              method="post" id="topic_add">
          <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

            <div class="field center aligned">
              <div class="ui left icon input">
                <input type="text" name="name" placeholder="话题名">
                <i class="comments icon"></i>
              </div>
            </div>

            <div class="field">
              <div class="ui floating dropdown labeled search icon teal button">
                <input type="hidden" name="type">
                <i class="tag icon"></i>
                <span class="text">话题类型</span>
                <div class="menu">
                  {% for type in types %}
                    <div class="item" data-value="{{ type[0] }}">{{ type[1] }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="field">
              <div style="float: right" id="desc_count">0/140</div>
              <textarea name="desc" placeholder="详细描述" maxlength="200" id="desc"></textarea>
            </div>

        </form>
      </div>

      <div class="actions">
        <div class="ui buttons">
          <button class="ui teal labeled icon button" id="submit"><i class="checkmark icon"></i>提交</button>
          <div class="or"></div>
          <button class="ui cancel right labeled icon button"><i class="remove icon"></i>取消</button>
        </div>
      </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
