{% extends "index.html" %}

{% block title %} Mocal登陆 {% endblock %}

{% block styles %}
    {{ super() }}
    <style>
    .ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
        background-color: #009c95!important;
    }

    .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
        background-color: #00B5AD!important;
    }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('.ui.form').form({
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '邮箱必填哦！'
                        },
                        {
                            type: 'email',
                            prompt: '填写一个有效的邮箱哦！'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'length[6]',
                            prompt: '密码最少6位了！'
                        }
                    ]
                }
            }, {
                on: 'submit'
            });

            $('#login_btn').click(function(){
                $('#login').submit();
            });

            var remember_me = {{ remember_me|tojson }};
            if(remember_me){
              $('.ui.checkbox').checkbox('check');
            } else {
                $('.ui.checkbox').checkbox('uncheck');
            }

            ////////////////////// 验证码 ////////////////////////
            var gt_captcha_obj = new window.Geetest({
                gt: "{{gt}}",
                challenge:"{{challenge}}",
                product: "float"
            });
            gt_captcha_obj.appendTo("#div_id_float");

            gt_captcha_obj.onSuccess(function() {
                $.ajax({
                    data: float.getValidate()
                })
            });

            $.ajax({
                url : "/change_verify_code",
                type : "get",
                dataType : 'JSON',
                success : function(result) {
                }
            });
            ////////////////////// 验证码 ////////////////////////
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui main container" style="position: absolute;top: 20%;width: 60%;left: 20%">
    <div class="ui center aligned teal segment">
        <div class="ui two column middle aligned very relaxed stackable grid">
            <div class="column">
                <form class="ui form teal segment {{ 'error' if msg else '' }}" action="{{ request.url }}" method="post">
                    <div class="field">
                        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="email" name="email" placeholder="用户名" maxlength="40">
                            <i class="mail icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="password"  name="password" placeholder="密码" maxlength="20">
                            <i class="lock icon"></i>
                        </div>
                    </div>

                    <div class="inline field" style="text-align: left;">
                        <div class="ui toggle checkbox" id="remember_me">
                            <input type="checkbox" name="remember_me" value="remember_me" tabindex="0" class="hidden">
                            <label><b>记住我</b></label>
                        </div>
                    </div>

                    <div class="field">
                        <div id="div_id_float">
                        </div>
                    </div>

                    <div class="ui fluid animated teal submit button" tabindex="0" id="login_btn">
                        <div class="visible content">登录</div>
                        <div class="hidden content">
                            <i class="sign in icon"></i>
                        </div>
                    </div>

                    <div class="ui error message">
                        <ui class="list">
                            <li>{{ msg }}</li>
                        </ui>
                    </div>
                </form>

                <div class="ui horizontal divider" style="color: teal">社交帐号登录</div>
                <!--第三方登录-->
                <div class="ui buttons">
                    <div class="ui animated teal button" tabindex="0">
                        <div class="hidden content">QQ</div>
                        <div class="visible content">
                            <i class="qq icon"></i>
                        </div>
                    </div>
                    <div class="or"></div>
                    <div class="ui animated teal button" tabindex="0">
                        <div class="hidden content">微信</div>
                        <div class="visible content">
                            <i class="wechat icon"></i>
                        </div>
                    </div>
                    <div class="or"></div>
                    <div class="ui animated teal button" tabindex="0">
                        <div class="hidden content">微博</div>
                        <div class="visible content">
                            <i class="weibo icon"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="ui vertical divider">Or </div>

            <div class="center aligned column">
                <div class="ui animated big teal labeled icon button" tabindex="0" onclick="location.href='{{ url_for('auth.register') }}'">
                    <i class="signup icon"></i>
                    <div class="visible content">加入mocal</div>
                    <div class="hidden content">
                        注册
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}