{% extends "index.html" %}

{% block title %} Mocal注册 {% endblock %}

{% block styles %}
    {{ super() }}
    <style>
    .ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
        background-color: #009c95!important;
    }

    .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
        background-color: #00B5AD!important;
    }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#register_btn').click(function(){
                $('#register').submit();
            });

            $('.ui.checkbox').checkbox({
                onChecked: function() {
                    $('#register_btn').attr('class', 'ui teal submit button');
                },
                onUnchecked: function() {
                    $('#register_btn').attr('class', 'ui teal submit disabled button');
                }
            });

            $('.ui.dropdown').dropdown('set selected', 'secret');

            $('.ui.form').form({
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '邮箱必填哦！'
                        },
                        {
                            type: 'email',
                            prompt: '填写一个有效的邮箱哦！'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'length[6]',
                            prompt: '密码最少6位了！'
                        }
                    ]
                },
                nickname:{
                    identifier: 'nickname',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '起一个炫酷的昵称吧！'
                        },
                        {
                            type: 'maxLength[10]',
                            prompt: '昵称再炫酷也不能超过10位！'
                        }
                    ]
                }
            }, {
                inline : true,
                on: 'submit'
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui main container" style="position: absolute;top: 20%;width: 60%;left: 20%">
        <form class="ui form teal segment" id="register" action="{{ url_for('auth.register') }}" method="post">
            <div class="field">
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            </div>
            <div class="two fields">
                <div class="field">
                    <label>昵称</label>
                    <input placeholder="昵称" name="nickname" type="text" maxlength="20">
                </div>
                <div class="field">
                    <label>性别</label>
                    <div class="ui selection dropdown">
                        <input name="gender" type="hidden">
                        <div class="default text">性别</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="secret">保密</div>
                            <div class="item" data-value="male">男</div>
                            <div class="item" data-value="female">女</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>邮箱</label>
                <input placeholder="邮箱" name="email" type="email" maxlength="40">
            </div>

            <div class="field">
                <label>密码</label>
                <input placeholder="密码" name="password" type="password"  maxlength="20">
            </div>

            <div class="inline field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="agree" value="agree" tabindex="0" class="hidden">
                    <label><b>我同意本条款和条件</b></label>
                </div>
            </div>

            <div class="ui teal submit disabled button" id="register_btn">提交</div>
            <div class="ui reset button">重置</div>
        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}