{% extends "index.html" %}

{% block title %} Mocal用户管理 {% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .qz {
            position: relative;
            margin-top: 5%;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="static/js/ajaxfileupload.js"></script>
    <script>
        $(document).ready(function(){
            $('#dimmer').dimmer({
                on: 'hover'
            });

            $('#gender_field').dropdown('set selected', '{{ user.gender }}');
            $('#year').dropdown('set selected', "{{ year }}");
            $('input[name="year"]').change(function() {
                var year = $(this).val();
                $('.months').remove();
                if(year!='0'){
                    var months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
                    for(var i in months){
                        $('#months_menu').append('<div class="months item" data-value="' + months[i] + '">' + months[i] + '</div>');
                    }
                }
                $('#month').dropdown('set selected', "0");
            });

            $('#month').dropdown('set selected', "{{ month }}");
            $('input[name="month"]').change(function(){
                var year = $('input[name="year"]').val();
                var month = $(this).val();
                var data = {
                    'year': year,
                    'month': month
                };
                var url = "{{ url_for('service.get_days') }}";
                $.ajax({
                    url : url,
                    type : "post",
                    data: data,
                    dataType : 'JSON',
                    success : function(result) {
                        var days = result['days'];
                        $('.days').remove();

                        for(var i in days){
                            $('#days_menu').append('<div class="days item" data-value="' + days[i] + '">' + days[i] + '</div>');
                        }
                        $('#day').dropdown('set selected', "0");
                    }
                });
            });

            $('#day').dropdown('set selected', "{{ day }}");
            $('input[name="day"]').change(function(){
                var month = $('input[name="month"]').val();
                var day = $(this).val();
                var data = {
                    'day': day,
                    'month': month
                };
                var url = "{{ url_for('service.get_constellation') }}";
                $.ajax({
                    url : url,
                    type : "post",
                    data: data,
                    dataType : 'JSON',
                    success : function(result) {
                        var constellation = result['constellation'];
                        $('#constellation_field').dropdown('set selected', ""+constellation);
                    }
                });
            });

            $('#constellation_field').dropdown('set selected', "{{ constellation }}");

            $('#submit_btn').click(function(){
                $('#user_info').submit();
            });
        });

        function fileSelect(){
            $('#photo').click();
        }

        function upload_photo(){
            $('#loading').show();
            $.ajaxFileUpload({
                url: "{{ url_for('upload.upload_file') }}",
                secureuri:false,
                fileElementId:'photo',
                dataType:'json',
                data:{name: 'file'},
                success: function (data, status) {
                    $('#loading').hide();
                    if(data.result){
                        var url = data['detail']['url'] + '?size=255';
                        $('#photo_url').attr('src', url);
                        $('#url').val(data['detail']['url']);
                    }else{
                        alert(data['msg']);
                    }
                },
                error: function (data, status, e) {
                    $('#loading').hide();
                    showMsg(e, 1500);
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="qz">
    </div>
    <div class="ui main container">
        <div class="ui piled segments" style="width: 70%;left: 15%">
            <h5 class="ui top attached header">用户信息</h5>
            <form class="ui form teal segment" action="{{ url_for('user.user_info') }}" method="post" id="user_info">
                <div class="field">
                    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                </div>

                <input type="file" name="file" style="display: none" id="photo" onchange="upload_photo()">

                <div class="field" id="photo_field">
                    <input name="photo" type="hidden" value="{{ photo_default }}" id="url">
                </div>

                <div class="ui small circular image" style="margin-bottom: 3%">
                    <div class="ui active dimmer" style="display: none" id="loading">
                        <div class="ui text loader">记载中</div>
                    </div>
                    <div class="ui dimmer" id="dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui small primary button" onclick="fileSelect();">修改头像</div>
                            </div>
                        </div>
                    </div>
                    <img src="{{ photo_default }}?size=255" id="photo_url">
                </div>

                <h2 class="ui header">
                    <div class="content">
                        <div class="sub header">
                            {{ current_user.email }}
                        </div>
                    </div>
                </h2>

                <h6 class="ui horizontal divider header"><i class="user icon"></i> 昵称 </h6>

                <div class="field" id="nickname_field">
                    <div class="ui left icon input">
                        <input placeholder="昵称" name="nickname" type="text" maxlength="20"
                               id="nickname" value="{{ current_user.nickname }}">
                        <i class="user icon"></i>
                    </div>
                </div>

                <h6 class="ui horizontal divider header"><i class="write square icon"></i> 签名 </h6>

                <div class="field" id="desc">
                    <div class="ui left icon input">
                        <input placeholder="个性签名" name="desc" type="text" style="height: 10%"
                               maxlength="20" id="desc" value="{{ desc }}">
                        <i class="write square icon"></i>
                    </div>
                </div>

                <h6 class="ui horizontal divider header"><i class="intergender icon"></i> 性别 </h6>

                <div class="field">
                    <div class="ui selection dropdown" id="gender_field">
                        <input name="gender" type="hidden" value="secret">
                        <div class="default text">性别</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="secret">
                                <i class="spy icon"></i>保密
                            </div>
                            <div class="item" data-value="male">
                                <i class="male icon"></i>男
                            </div>
                            <div class="item" data-value="female">
                                <i class="female icon"></i>女
                            </div>
                        </div>
                    </div>
                </div>

                <h6 class="ui horizontal divider header"><i class="birthday icon"></i> 生日 </h6>

                <div class="three fields">
                    <div class="field">
                        <label>年</label>
                        <div class="ui selection dropdown" id="year">
                            <input name="year" type="hidden" value="{{ year }}">
                            <div class="default text">年</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value=0>
                                    保密
                                </div>
                                {% for y in years %}
                                    <div class="item" data-value={{ y }}>
                                        {{ y }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>月</label>
                        <div class="ui selection dropdown" id="month">
                            <input name="month" type="hidden" value="{{ month }}">
                            <div class="default text">月</div>
                            <i class="dropdown icon"></i>
                            <div class="menu" id="months_menu">
                                <div class="item" data-value=0>
                                    保密
                                </div>
                                {% for m in months %}
                                    <div class="months item" data-value={{ m }}>
                                        {{ m }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>日</label>
                        <div class="ui selection dropdown" id="day">
                            <input name="day" type="hidden" value="{{ day }}">
                            <div class="default text">日</div>
                            <i class="dropdown icon"></i>
                            <div class="menu" id="days_menu">
                                <div class="item" data-value=0>
                                    保密
                                </div>
                                {% for d in days %}
                                    <div class="days item" data-value={{ d }}>
                                        {{ d }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <h6 class="ui horizontal divider header"><i class="star icon"></i> 星座 </h6>

                <div class="field">
                    <div class="ui selection dropdown" id="constellation_field">
                        <input name="constellation" type="hidden" value="{{ constellation }}">
                        <div class="default text">星座</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="0">
                                保密
                            </div>
                            {% for k, v in constellations %}
                                <div class="item" data-value={{ k }}>
                                    {{ v }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="ui fluid animated teal submit button" tabindex="0" id="submit_btn">
                    <div class="visible content">提交个人信息</div>
                    <div class="hidden content">
                        <i class="signup icon"></i>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}