{% extends "index.html" %}

{% block title %} Mocal用户管理 {% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .qz {
            position: relative;
            margin-top: 5%;
        }
        .scroll-1 {
            overflow:auto;
            max-height: 400px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $('.special.cards .image').dimmer({
                on: 'hover'
            });

            $('.show_detail').popup({
                on: 'click',
                position : 'left center',
                hoverable: true,
                transition: 'drop',
                duration: 400,
                delay:{
                    show: 400,
                    hide: 400
                }
            });

            $('.accordion').accordion({
                selector: {
                    trigger: '.title'
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="qz">
    </div>

    <div class="ui main container">

        <div class="ui center aligned grid">
            <div class="twelve wide column">
                <div class="ui six doubling special cards">
                    {% for user in users %}
                        <div class="teal card" id="{{ user.id }}">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <i class="heart circular large orange icon link"></i>
{#                                            <div class="ui divider"></div>#}
                                            <i class="user circular large icon link show_detail"
                                               data-variation="tiny"
                                               data-html="
                                               <h2 class='ui header' style='text-align: left'>
                                                   <img src='{{ user.photo(256) }}' class='ui circular image'>
                                                   {{ user.nickname }}
                                                    <div class='sub header'></div>
                                               </h2>
                                               <div class='ui divider'></div>
                                               <div class='content' style='text-align: left'>
                                                   <p>{{ user.user_info.desc or ''|truncate(30, True) }}</p>
                                                   <p><i class='mail icon'></i>{{ user.email }}</p>
                                                   <p><i class='birthday icon'></i>{{ user.user_info.birth }}</p>
                                                   <p><i class='{{ user.gender_text_es }} icon'></i>{{ user.gender_text }}</p>
                                                   <div class='ui divider'></div>
                                                   <a><i class='users icon'></i> 2粉丝 </a>
                                                   <p><i class='wait icon'></i>(登录时间)：{{ user.last_login_at }}</p>
                                               </div>">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <img src="{{ user.photo(256) }}">
                            </div>
                            <strong>{{ user.nickname }}</strong>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="four wide column">
                <div class="ui teal tall stacked left aligned segment" style="position: fixed;height: 90%;width: 15%;">

                    <div class="qz"></div>
                    <h4 class="ui center aligned icon header"><i class="circular users icon mocal"></i></h4>
                    <h4 class="ui horizontal divider header">好友列表</h4>

                    <div class="ui accordion scroll-1">

                        <div class="active title"><i class="dropdown icon"></i>好朋友</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>家人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>爱人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>好朋友</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>家人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>爱人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>好朋友</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>家人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>爱人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>好朋友</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>家人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>爱人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>好朋友</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>家人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="active title"><i class="dropdown icon"></i>爱人</div>
                        <div class="content">

                            <div class="ui middle aligned divided list">
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui label">
                                        <img class="ui right spaced avatar image" src="http://www.semantic-ui.cn/images/avatar/small/elliot.jpg">
                                        Elliot
                                        <i class="delete icon" style="cursor: pointer"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="ui divider"></div>

                    <div class="ui transparent left icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer %}
{% endblock %}