{% extends "index.html" %}

{% block title %} Mocal用户管理 {% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .qz {
            position: relative;
            margin-top: 5%;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="qz">
    </div>

    <div class="ui main container">

        <div class="ui center aligned grid">
            <div class="twelve wide column">
                <div class="ui special three doubling cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Team Fu</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Team Fu</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Team Fu</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Team Fu</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Team Fu</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Team Fu</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Team Fu</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Team Fu</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Team Fu</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui teal tall stacked left aligned segment" style="position: fixed;height: 90%;width: 15%;">

                    <div class="qz"></div>
                    <h4 class="ui center aligned icon header"><i class="circular users icon mocal"></i></h4>
                    <h4 class="ui horizontal divider header">好友列表</h4>
                    <div class="ui middle aligned divided list">
                        <div class="item">
                            <div class="right floated content">
                                <button class="ui button">
                                    删除
                                </button>
                            </div>
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar2/small/lena.png">
                            <div class="content">Lena </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <button class="ui button">
                                    删除
                                </button>
                            </div>
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar2/small/lena.png">
                            <div class="content">Lena </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <button class="ui button">
                                    删除
                                </button>
                            </div>
                            <img class="ui avatar image" src="http://www.semantic-ui.cn/images/avatar2/small/lena.png">
                            <div class="content">Lena </div>
                        </div>
                    </div>

                    <div class="ui divider"></div>

                    <div class="ui transparent left icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer %}
{% endblock %}